<launch>
  <group ns="core">
    <node name="router" pkg="ltu_actor_core" type="router" />
    <node name="web_control" pkg="ltu_actor_core" type="web_control.py" />

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
      <arg name="port" value="8080"/>
    </include>
    <node name="web_video_server" pkg="web_video_server" type="web_video_server">
      <param name="~port" value="8081" />
    </node>
  </group>
</launch>
